## Downloading data from database

In [1]:
import psycopg2
import pandas  as pd
import json

In [2]:
db_key = json.load(open('../db_keys.json','r'))

In [3]:
connection = psycopg2.connect(**db_key)
cursor = connection.cursor()

sql = """
SELECT table_name FROM information_schema.tables 
WHERE table_schema = 'pa004';"""


cursor.execute(sql)
s = cursor.fetchall()

for i in s:
    print(i)

('users',)
('vehicle',)
('insurance',)

In [4]:
query = """
SELECT * FROM pa004.users a
LEFT JOIN pa004.vehicle b ON a.id = b.id
LEFT JOIN pa004.insurance c ON a.id=c.id;
"""

df_raw = pd.read_sql_query(query,connection)
connection.close()

df_raw.head()

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes,7,0,23367.0,249,0
1,13,Female,41,15.0,14.0,13,1,1-2 Year,No,13,1,31409.0,221,0
2,18,Female,25,35.0,152.0,18,1,< 1 Year,No,18,1,46622.0,299,0
3,31,Female,26,8.0,160.0,31,1,< 1 Year,No,31,0,2630.0,136,0
4,39,Male,45,8.0,124.0,39,1,1-2 Year,Yes,39,0,42297.0,264,0

In [5]:
df_raw = df_raw.loc[:,~df_raw.columns.duplicated()]
df_raw.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,13,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,18,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,31,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,39,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

In [6]:
df_raw.to_csv('../data/raw/clients.csv', index=False)