## 0. Imports, Paths and Helper Functions

In [2]:
import requests

### 0.3 Helper Functions

In [81]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [4]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 11 - Deployment

### 11.1 Data Treatment Class

In [2]:
import pickle
import pandas as pd
import numpy  as np

class HealthInsurance(object):
    
    def __init__(self):
        
        self.home_path = '/home/dimitri/github/pa004_health_insurance_cross_sell/health_insurance_cross_sell/src/features/'
        
        self.age_scaler = pickle.load(open(self.home_path+'age_scaler.pkl','rb'))
        self.annual_premium_scaler = pickle.load(open(self.home_path+'annual_premium_scaler.pkl','rb'))
        self.vintage_scaler = pickle.load(open(self.home_path+'age_scaler.pkl','rb'))
        
        self.policy_sales_channel_encoder = pickle.load(open(self.home_path+'policy_sales_channel_encoder.pkl','rb'))
        self.vehicle_age_encoder = pickle.load(open(self.home_path+'vehicle_age_encoder.pkl','rb'))
        self.region_code_encoder = pickle.load(open(self.home_path+'region_code_encoder.pkl','rb'))
       
        
        
    def data_cleaning(self,df1):
        
        col_names = ['id', 'gender', 'age', 'region_code', 'policy_sales_channel','driving_license',
                     'vehicle_age', 'vehicle_damage', 'previously_insured', 'annual_premium', 'vintage', 'response']
        
        df1.columns = col_names
        return df1
    
    
    def feature_engineering(self,df2):
        
        df2['vehicle_damage'] = df2['vehicle_damage'].apply(lambda x: 1 if x=="Yes" else 0)
        df2['vehicle_age']    = df2['vehicle_age'].apply(lambda x: "over_2years" if x =="> 2 Years" else "between_12years" if x == "1-2 Year" else "below_year")
        df2['gender']         = df2['gender'].apply(lambda x: x.lower())
        
        return df2
        
        
    def data_preparation(self,df5):
        
        gender_encoder = {'male':0,'female':1}
        
        df5['age'] = self.age_scaler.transform(df5[['age']].values)
        df5['annual_premium'] = self.annual_premium_scaler.transform(df5[['annual_premium']].values)
        df5['vintage'] = self.vintage_scaler.transform(df5[['vintage']].values)
        
        df5.loc[:,'gender'] = df5['gender'].map(gender_encoder)
        df5.loc[:,'region_code'] = df5['region_code'].map(self.region_code_encoder)
        df5.loc[:,'vehicle_age'] = df5['vehicle_age'].map(self.vehicle_age_encoder)
        df5.loc[:,'policy_sales_channel'] =df5['policy_sales_channel'].map(self.policy_sales_channel_encoder)

        df5.fillna(0,inplace = True)
        
        selected_cols = ['vintage', 'annual_premium', 'age', 'vehicle_damage', 'region_code', 'policy_sales_channel']
        
        return df5[selected_cols]
    
    
    def get_prediction(self,model,df,df_test):
        
        predictions = model.predict_proba(df_test)
        
        df['score'] = predictions[:,1].tolist()
        df = df.sort_values('score',ascending = False)
        
        return df.to_json(orient='records', date_format='iso')

In [4]:
pipeline = HealthInsurance()
model = pickle.load(open('../src/models/ab_model.pkl','rb'))

df = pd.read_csv('../data/raw/clients.csv')
df.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,13,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,18,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,31,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,39,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

**Testing data_treatment**

In [5]:
df1 = pipeline.feature_engineering(df)
df2 = pipeline.data_preparation(df1)
df = pipeline.get_prediction(model,df,df2)
df[:30]

'[{"id":142412,"gender":0,"age"'

### 11.2 API Handler

In [8]:
import pandas as pd
import numpy  as np
from flask import Flask, request, Response
from healthinsurance.HealthInsurance import HealthInsurance

print('Loading predictor model...')
path  = '/home/dimitri/github/pa004_health_insurance_cross_sell/health_insurance_cross_sell/src/'
model = pickle.load(open(path + 'models/ab_model.pkl','rb'))
print('Loaded!')


print("\n========= INITIALIZING SERVER ==========\n\n")

#initialize api
app = Flask(__name__)

@app.route('/predict', methods=['POST'])
def healthinsurance_predict():
    test_json = request.get_json()
    
    if test_json:
        if isinstance(test_json,dict): #unique example
            test_raw = pd.DataFrame(test_json,index=[0])
        else: #multiple examples
            test_raw = pd.DataFrame(test_json, columns=test_json[0].keys())
        
        #instantiate HealthInsurance class
        pipeline = HealthInsurance()

        #data cleaning
        df1 = pipeline.data_cleaning(test_raw)
        #feature Engineering
        df2 = pipeline.feature_engineering(df1)
        #data preparation
        df3 = pipeline.data_preparation(df2)
        #prediction
        df_response = pipeline.get_prediction(model, test_raw, df3)
        
        return df_response
    else:
        return Response('{}',status=200, mimetype='application/json')
    

if __name__ =='__main__':
    app.run(0.0.0.0,debug=True)

Loading predictor model...
Loaded!

========= INITIALIZING SERVER ==========

### 11.3 API Testing

In [6]:
df = pd.read_csv('../data/raw/clients.csv')
datatest=df.sample(5)
to_send = datatest.to_json(orient='records')

### 11.3.1 Local Testing

In [8]:
url = 'http://0.0.0.0:5000/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=to_send, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

### 11.3.2 Cloud Testing

In [12]:
url = 'https://healthinsurancebot.herokuapp.com/predict'
header = {'Content-type': 'application/json' }

r = requests.post( url, data=to_send, headers=header )
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

### 11.3.3 Getting data to test in deploy ambient

In [3]:
df_test= pd.read_csv('../data/interim/validation.csv')
df_example = df_test.sample(30)

In [8]:
df_example.to_excel('../data/interim/example_data.xlsx',index=False)

In [9]:
df_example.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
48390,67280,male,21,3.0,152.0,1,below_year,0,1,36047.0,162,0
37383,53497,female,30,30.0,152.0,1,below_year,1,0,27050.0,39,0
36036,346340,female,29,8.0,124.0,1,below_year,1,0,46149.0,27,1
28185,380399,female,35,28.0,124.0,1,between_12years,0,1,26273.0,250,0
40956,83673,female,78,28.0,26.0,1,between_12years,1,0,50656.0,164,1

In [11]:
df_example.head().to_json(orient='records')

'[{"id":67280,"gender":"male","age":21,"region_code":3.0,"policy_sales_channel":152.0,"driving_license":1,"vehicle_age":"below_year","vehicle_damage":0,"previously_insured":1,"annual_premium":36047.0,"vintage":162,"response":0},{"id":53497,"gender":"female","age":30,"region_code":30.0,"policy_sales_channel":152.0,"driving_license":1,"vehicle_age":"below_year","vehicle_damage":1,"previously_insured":0,"annual_premium":27050.0,"vintage":39,"response":0},{"id":346340,"gender":"female","age":29,"region_code":8.0,"policy_sales_channel":124.0,"driving_license":1,"vehicle_age":"below_year","vehicle_damage":1,"previously_insured":0,"annual_premium":46149.0,"vintage":27,"response":1},{"id":380399,"gender":"female","age":35,"region_code":28.0,"policy_sales_channel":124.0,"driving_license":1,"vehicle_age":"between_12years","vehicle_damage":0,"previously_insured":1,"annual_premium":26273.0,"vintage":250,"response":0},{"id":83673,"gender":"female","age":78,"region_code":28.0,"policy_sales_channel":26.0,"driving_license":1,"vehicle_age":"between_12years","vehicle_damage":1,"previously_insured":0,"annual_premium":50656.0,"vintage":164,"response":1}]'